.reservation_wrapper {
  height: 372px;
  background-image: url("../../assets/order_reserve_back.jpg");
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.reservation_wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reservation_wrapper h2 {
  color: gold;
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 600;
}

.reservation_wrapper h4 {
  color: #000;
  font-size: 2em;
}

.reservation_wrapper p {
  color: #000;
  font-size: 1.3em;
  margin: 20px 0 !important;
}

.reservation_wrapper button {
  padding: 5px 40px;
  background-color: #292929;
  border: 2px solid gold;
  border-radius: 0;
  color: gold;
  text-transform: uppercase;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}

.reservation_wrapper button:hover {
  background-color: #000;
}

.reservation_wrapper .bottom-svg-border {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.reservation_wrapper svg {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

/* MEDIA QUERY FOR RESPONSIVENESS */
@media screen and (max-width: 1024px) {
  .reservation_wrapper {
    height: auto;
    padding: 60px 20px;
    text-align: center;
  }

  .reservation_wrapper h2 {
    font-size: 2.6em;
  }

  .reservation_wrapper h4 {
    font-size: 1.2em;
  }

  .reservation_wrapper p {
    font-size: 1.1em;
  }
}
