.banner_wrapper .banner_top {
  position: relative;
  height: calc(100vh - 159.8px);
  overflow: hidden;
  margin-top: 159.8px;
}

.banner_wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.banner_wrapper .address {
  background-color: #000;
  color: #9f9f9f;
  text-align: center;
  height: 88.81px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.banner_wrapper .address .icon {
  font-size: 23px;
  color: gold;
}

.banner_wrapper .banner_bottom {
  background-color: #000;
  border-bottom: 2px solid gold;
}

.banner_wrapper .address p {
  font-size: 1.3em;
}

/* MEDIA QUERY FOR RESPONSIVENESS */
@media screen and (max-width: 900px) {
  .banner_wrapper .banner_top {
    height: 40vh;
    margin-top: 0;
  }

  .banner_wrapper .address {
    height: auto;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .banner_wrapper .address p {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
  .banner_wrapper .banner_top {
    height: 40vh;
  }
}

@media screen and (min-width: 768px) {
  .banner_wrapper .address {
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
